
max_workers: 32
batch_size: 256
# Image processing 

single_process:
  do_preprocess: true
  do_platesolve: true
  do_calculate_invalidmask: true
  do_calculate_sourcemask: true
  do_calculate_bkgmap: true
  do_calculate_bkgrms: true
  do_calculate_bkgrms_from_propagation: true
  do_photometry: true
  do_photometric_calibration: true
  do_forced_photometry: false
  do_DIA: false
  do_stack: true

stacked_process:
  use_invalidmask: true
  use_sourcemask: true
  use_bkgmap: true
  use_bkgrms: true

  do_preprocess: false
  do_platesolve: false
  do_update_invalidmask: true
  do_update_sourcemask: true
  do_update_bkgmap: true
  do_update_bkgrms: false
  do_update_bkgrms_from_propagation: false
  do_photometry: true
  do_photometric_calibration: true
  do_forced_photometry: true
  do_DIA: true
  do_stack: true

circularmask:
  radius_arcsec: 150

invalidmask:
  threshold_invalid_connection: 5.0
  verbose: false
  visualize: false
  save: true
  save_fig: false

sourcemask:
  sigma: 5.0
  mask_radius_factor: 3
  saturation_level: 50000
  verbose: false
  visualize: false
  save: true
  save_fig: true

bkgmap:
  is_2D_bkg: true
  box_size: 128
  filter_size: 3
  correct_global_offset: true
  verbose: false
  visualize: false
  save: true
  save_fig: true

bkgrms:
  box_size: 128
  filter_size: 3
  verbose: false
  visualize: false
  save: true
  save_fig: true

photometry:
  detection_sigma: 1.5
  aperture_diameter_arcsec: [3, 5, 7, 10, 15]
  aperture_diameter_seeing: [2.5, 3.5]
  annulus_width_arcsec: 5 # for annulus background estimation 
  saturation_level: 60000
  kron_factor: 2.5
  verbose: false
  visualize: false
  save: true
  save_fig: true

forced_photometry:
  aperture_diameter_arcsec: [3, 5, 7, 10, 15]
  aperture_diameter_seeing: [2.5, 3.5]
  annulus_width_arcsec: null 
  verbose: false
  visualize: false
  save: true
  save_fig: true

tractor_photometry:
  base_dir: "/home/hhchoi1022/tract7dt"
  save_result_catalog: True
  register_config:
    update_type_from_catalog: False
    update_flux_from_catalog: False
    update_ellip_from_catalog: False
    update_Re_from_catalog: False
    update_theta_from_catalog: False
    
    ra_key: X_WORLD
    dec_key: Y_WORLD
    type_key: CLASS_STAR
    ellip_key: ELLIPTICITY
    flux_key: FLUX_AUTO
    Re_key: FLUX_RADIUS
    theta_key: THETA_IMAGE
    matching_radius_arcsec: 3

photcal:
  catalog_type: GAIAXP_CORR_LAMOST
  catalog_version: v1
  max_distance_second: 5
  min_number_of_sources: 10
  calculate_color_terms: true
  calculate_mag_terms: true

  mag_range_default: [11.5, 15]
  mag_range_dict:
    g: [13, 16.5]
    r: [12.5, 16]
    i: [11, 14.5]
    z: [10, 13.5]
    m375w : [10, 13.5]
    m425w : [12, 15.5]
    m466w : [12, 15.5]
    m692w : [12, 15.5]
    m710w : [11, 14.5]
    m769w : [11, 14.5]
    m832w : [10, 13.5]
    m386 : [10, 13.5]
    m400 : [11, 14.5]
    m425 : [11.5, 15]
    m438 : [11.5, 15]
    m450 : [11.5, 15]
    m475 : [11.5, 15]
    m483 : [11.5, 15]
    m500 : [11.5, 15]
    m512 : [11.5, 15]
    m525 : [11.5, 15]
    m534 : [11, 14.5]
    m550 : [11, 14.5]
    m561 : [11, 14.5]
    m575 : [11, 14.5]
    m586 : [11, 14.5]
    m600 : [11, 14.5]
    m615 : [11, 14.5]
    m625 : [11, 14.5]
    m640 : [11, 14.5]
    m650 : [11, 14.5]
    m661 : [11, 14.5]
    m675 : [11, 14.5]
    m700 : [11, 14.5]
    m725 : [10.5, 14]
    m750 : [10.5, 14]
    m775 : [10.5, 14]
    m800 : [10, 13.5]
    m825 : [10, 13.5]
    m850 : [10, 13.5]
    m875 : [10, 13.5]

  dynamic_mag_range: false
  classstar_lower: 0.5
  elongation_upper: 1.7
  elongation_sigma: 5
  fwhm_lower_arcsec: 1
  fwhm_upper_arcsec: 15
  fwhm_sigma: 5
  flag_upper: 1
  maskflag_upper: 1
  ra_deg: null
  dec_deg: null
  radius_arcsec: 1500
  inner_fraction: 0.8
  isolation_radius_arcsec: 10.0

  magnitude_key: MAG_AUTO
  magnitudeerr_key: MAGERR_AUTO
  fwhm_key: FWHM_WORLD
  ra_key: X_WORLD
  dec_key: Y_WORLD
  classstar_key: CLASS_STAR
  elongation_key: ELONGATION
  flag_key: FLAGS
  maskflag_key: IMAFLAGS_ISO

  verbose: false
  visualize: false
  save: true
  save_fig: true
  save_refcat: true

stack_select:
  enabled: false
  mode: both
  min_obsdate: null
  max_obsdate: null
  seeing_key: SEEING
  depth_key: UL5SKY_APER_3
  ellipticity_key: ELLIP
  obsdate_key: DATE-OBS

  # For absolute filtering
  seeing_limit: 6.0
  depth_limit: 16.0
  ellipticity_limit: 0.3
  rotang_abs_limit: 5

  # For relative filtering
  ellipticity_percentile: 90.0
  seeing_percentile: 75.0
  depth_percentile: 75.0
  rotang_percentile: 100.0
  max_numbers: null
  
  # Other parameters
  visualize: false
  verbose: true

stack_prepare:
  scale: true
  zp_key: ZP_APER_3
  n_proc: 1

  reproject: true
  reproject_type: LANCZOS3
  center_ra: null
  center_dec: null
  pixel_scale: null
  x_size: null
  y_size: null

  convolve: false
  seeing_key: SEEING

  verbose: false
  save: true
  clear: true

stack:
  n_proc: 1
  combine_type: median  
  clip_type: extrema
  sigma: 3.0
  nlow: 1
  nhigh: 1

  verbose: false
  save: true
  remove_intermediate: true

DIA:
  reject_variable_sources: true
  negative_detection: true  
  reverse_subtraction: false
  convim: 'auto'
  normim: 'i'
  tu: null
  tl: null
  iu: 50000
  il: -10000
  nrx: 1
  nry: 1
  nsx: 10
  nsy: 10
  ko: 2
  bgo: 1
  r: 10

  verbose: false
  visualize: false
  save: true
  save_transient_figure: true
  save_candidate_figure: true
  show_transient_numbers: 100
  show_candidate_numbers: 100