
max_workers: 32
batch_size: 256
# Image processing 
do_preprocess: true
do_platesolve: true
do_calculate_invalidmask: true
do_calculate_sourcemask: true
do_calculate_bkgmap: true
do_calculate_bkgrms: true
do_calculate_bkgrms_from_propagation: true
do_photometry: true
do_photometric_calibration: true
do_forced_photometry: true
do_stack: true
do_DIA: true

circularmask:
  radius_arcsec: 150

invalidmask:
  threshold_invalid_connection: 5.0
  verbose: false
  visualize: false
  save: true
  save_fig: false

sourcemask:
  sigma: 5.0
  mask_radius_factor: 3
  saturation_level: 50000
  verbose: false
  visualize: false
  save: true
  save_fig: true

bkgmap:
  is_2D_bkg: true
  box_size: 128
  filter_size: 3
  correct_global_offset: true
  verbose: false
  visualize: false
  save: true
  save_fig: true

bkgrms:
  box_size: 128
  filter_size: 3
  verbose: false
  visualize: false
  save: true
  save_fig: true

photometry:
  detection_sigma: 1.5
  aperture_diameter_arcsec: [5, 7, 10]
  aperture_diameter_seeing: [3.5, 4.5, 5.5]
  annulus_width_arcsec: null
  saturation_level: 60000
  kron_factor: 2.5
  verbose: false
  visualize: false
  save: true
  save_fig: true

forced_photometry:
  aperture_diameter_arcsec: [5, 7, 10]
  aperture_diameter_seeing: [3.5, 4.5, 5.5]
  annulus_width_arcsec: null # for annulus background estimation 
  verbose: false
  visualize: false
  save: true
  save_fig: true

tractor_photometry:
  base_dir: "/home/hhchoi1022/tract7dt"
  save_result_catalog: True
  register_config:
    update_type_from_catalog: False
    update_flux_from_catalog: False
    update_ellip_from_catalog: False
    update_Re_from_catalog: False
    update_theta_from_catalog: False
    
    ra_key: X_WORLD
    dec_key: Y_WORLD
    type_key: CLASS_STAR
    ellip_key: ELLIPTICITY
    flux_key: FLUX_AUTO
    Re_key: FLUX_RADIUS
    theta_key: THETA_IMAGE
    matching_radius_arcsec: 5

photcal:
  catalog_type: GAIAXP
  catalog_version: v1
  max_distance_second: 5
  min_number_of_sources: 10
  calculate_color_terms: true
  calculate_mag_terms: true

  mag_lower_BB: 12.5
  mag_upper_BB: 15.5
  mag_lower_MB: 11
  mag_upper_MB: 15
  dynamic_mag_range: false
  classstar_lower: 0.5
  elongation_upper: 1.7
  elongation_sigma: 5
  fwhm_lower_arcsec: 1
  fwhm_upper_arcsec: 15
  fwhm_sigma: 5
  flag_upper: 1
  maskflag_upper: 1
  radius_arcsec: 1500
  inner_fraction: 0.8
  isolation_radius_arcsec: 10.0

  magnitude_key: MAG_AUTO
  magnitudeerr_key: MAGERR_AUTO
  fwhm_key: FWHM_WORLD
  ra_key: X_WORLD
  dec_key: Y_WORLD
  classstar_key: CLASS_STAR
  elongation_key: ELONGATION
  flag_key: FLAGS
  maskflag_key: IMAFLAGS_ISO

  verbose: false
  visualize: false
  save: true
  save_fig: true
  save_refcat: true

stack_prepare:
  scale: true
  zp_key: ZP_APER_2
  n_proc: 1

  reproject: true
  reproject_type: LANCZOS3
  center_ra: null
  center_dec: null
  pixel_scale: null
  x_size: null
  y_size: null

  convolve: false
  seeing_key: SEEING

  verbose: false
  save: true
  clear: true

stack:
  n_proc: 1
  combine_type: median  
  clip_type: extrema
  sigma: 3.0
  nlow: 1
  nhigh: 1

  verbose: false
  save: true
  remove_intermediate: true

DIA:
  reject_variable_sources: true
  negative_detection: true  
  reverse_subtraction: false
  convim: 'auto'
  normim: 'i'
  tu: null
  tl: null
  iu: 50000
  il: -10000
  nrx: 1
  nry: 1
  nsx: 10
  nsy: 10
  ko: 2
  bgo: 1
  r: 10

  verbose: false
  visualize: false
  save: true
  save_transient_figure: true
  save_candidate_figure: true
  show_transient_numbers: 100
  show_candidate_numbers: 100