ztf:
  outdir: /home/hhchoi1022/bridge/alert/ztf/alerce
  search_cadence: 30 # seconds
  search_days: 5 # day
  verbose: false
  db_table_name: ztf_alerce
  queryconfig:
    survey: ztf
    classifier: stamp_classifier
    class: SN
    ndet: null
    probability: 0
    page: 1
    page_size: 10000
    order_by: firstmjd
    order_mode: DESC

lsst: 
  outdir: /home/hhchoi1022/bridge/alert/lsst/alerce
  search_cadence: 30 # seconds
  search_days: 5 #day
  verbose: false
  db_table_name: lsst_alerce
  all_topics: ['fink_sn_near_galaxy_candidate_lsst', 'fink_extragalactic_lt20mag_candidate_lsst', 'fink_early_snia_candidate_lsst']
  queryconfig:
    survey: lsst
    classifier: stamp_classifier_rubin_beta
    class_name: SN
    n_det: null
    probability: 0.5
    page: 1
    page_size: 10000
    order_by: firstmjd
    order_mode: DESC

