receive_ztf_alerce: true
receive_ztf_fink: true
receive_lsst_alerce: true
receive_lsst_fink: true
receive_tns: true

show_visibility: false
save_visibility: true
show_stamp: false
save_stamp: true
show_tile: false
save_tile: true
save_dir: /home/hhchoi1022/bridge/results/

db_name:
  ztf_fink: ztf_fink
  ztf_alerce: ztf_alerce
  lsst_fink: lsst_fink
  lsst_alerce: lsst_alerce
  tns: tns

trigger_constraints:
  since_days: 30
  mag:
    upper: 20
    lower: 12
  absmag:
    lower: -20.5
    upper: -10
  phase:
    lower: -30
    upper: 20
  exptime:
    upper_limit:
      priority0: 1800
      priority1: 1200
      priority5: 600
      priority10: 600
      priority50: 300
    lower_limit:
      priority0: 300
      priority1: 300
      priority5: 300
      priority10: 300
      priority50: 300

  template_expectation: true
  template_kwargs:
    transient_type: Ia
    transient_source: salt2
    template_dir: /home/hhchoi1022/code/BRIDGE/bridge/objects/templates

  hostgalaxy_association: true
  hostgalaxy_association_kwargs:
    distance_upper: 100
    distance_lower: 1

  exposure_calculation: true
  exposure_calculator_kwargs:
    reference_filter_spec: m700
    reference_filter_color: r
    reference_filter_deep: r
    ntel_spec: 1
    ntel_color: 6
    ntel_deep: 12
    snr: 10
  
  observation_mode: 
    default_spec_mode: specall
    default_color_mode: gr
    default_deep_mode: g
    
  
mail_recipients: 7dt.observation.alert@gmail.com
mail_requester: hhchoi1022@gmail.com
