check_gppy: true
check_ezphot: true ##
save_catalog: true
save_lightcurve: true
save_photometricspectrum: true
save_dir: /home/hhchoi1022/bridge/results/

ra_key: X_WORLD
dec_key: Y_WORLD
flux_key: MAGSKY_APER_2
fluxerr_key: MAGERR_APER_2
zperr_key: ZPERR_APER_2
depth_key: UL5SKY_APER_2
objname_key: objname
filter_key: filter
matching_radius_arcsec: 5.0

lightcurve:
  figure_figsize: [10, 6]
  # Color parameters
  cmap: jet

  # Label parameters
  xlabel_fontsize: 20
  ylabel_fontsize: 20

  # Legend parameters
  scatter_legend_position: lower right   # 'best', 'upper right', 'lower left', etc.
  scatter_legend_fontsize: 15
  obsdate_legend_position: upper right   # 'best', 'upper right', 'lower left', etc.
  obsdate_legend_fontsize: 20
  ncols: 5

  # Scatter parameters
  scatter_hollowmarker: false            # true = hollow, false = filled
  scatter_color: y
  scatter_markersize: 150
  scatter_alpha: 1.0

  # Error bar parameters
  errorbar_enabled: true                 # Optional switch
  errorbar_color: k
  errorbar_capsize: 3.5
  errorbar_elinewidth: 0.8
  errorbar_alpha: 0.8

  # Non-detection parameters
  non_detection_enabled: true
  non_detection_color: y
  non_detection_markersize: 150
  non_detection_alpha: 0.2
  non_detection_marker: v
  non_detection_arrow_length: 0.15
  non_detection_arrow_width: 2.5
  non_detection_arrow_style: "-|>"
  non_detection_arrow_color: k

  # Line parameters
  line_enabled: true
  line_style: solid
  line_color: y
  line_width: 1.0
  line_alpha: 0.2

  # Detection parameters
  detection_aperture_arcsec: 10.0
  detection_aperture_linewidth: 1.0
  detection_downsample: 1
  detection_zoom_radius_pixel: 50
  detection_cmap: grey_r
  detection_scale: zscale
  detection_radius_arcsec: 5.0
  detection_ncols: 5
  detection_show_title: false

photometricspectrum:
  figure_figsize: [10, 6]

  # Custom axis control
  xlim: [300, 1000]
  ylim: null
  xticks: [300, 400, 500, 600, 700, 800, 900, 1000]
  yticks: null

  # Color parameters
  cmap: jet

  # Label parameters
  xlabel_fontsize: 20
  ylabel_fontsize: 20

  # Legend parameters
  shape_legend_position: lower right   # 'best', 'upper right', 'lower left', etc.
  shape_legend_fontsize: 18
  shape_legend_ncols: 2
  color_legend_position: upper right   # 'best', 'upper right', 'lower left', etc.
  color_legend_fontsize: 15
  color_legend_ncols: 2

  # Scatter parameters
  scatter_hollowmarker: false          # true = hollow, false = filled
  scatter_color: y
  scatter_markersize: 120
  scatter_alpha: 1.0

  # Error bar parameters
  errorbar_enabled: true               # Optional switch
  errorbar_color: k
  errorbar_capsize: 3.5
  errorbar_elinewidth: 0.8
  errorbar_alpha: 0.8

  # Non-detection parameters
  non_detection_enabled: true
  non_detection_color: y
  non_detection_markersize: 150
  non_detection_alpha: 0.2
  non_detection_marker: v
  non_detection_arrow_length: 0.15
  non_detection_arrow_width: 2.5
  non_detection_arrow_style: "-|>"
  non_detection_arrow_color: k

  # Line parameters
  line_enabled: true
  line_style: solid
  line_color: y
  line_width: 1.0
  line_alpha: 0.5

  # Detection parameters
  detection_aperture_arcsec: 10.0
  detection_aperture_linewidth: 1.0
  detection_downsample: 1
  detection_zoom_radius_pixel: 50
  detection_cmap: grey_r
  detection_scale: zscale
  detection_radius_arcsec: 5.0
  detection_ncols: 5
  detection_show_title: false


classification:
  mag_key: MAGSKY_APER_2
  magerr_key: MAGERR_APER_2
  filter_key: filter
  objname_key: objname
  save: true





