ztf:
  queryconfig:
    survey: ztf
    classifier: stamp_classifier
    class: SN
    ndet: null
    probability: 0.7
    page: 1
    page_size: 10000
    order_by: firstmjd
    order_mode: DESC

lsst: 
  queryconfig:
    survey: lsst
    classifier: stamp_classifier_rubin_beta
    class_name: SN
    n_det: null
    probability: 0.7
    page: 1
    page_size: 10000
    order_by: firstmjd
    order_mode: DESC

