ztf:
  outdir: /home/hhchoi1022/bridge/alert/ztf/fink
  num_alerts_limit: 999
  verbose: true
  db_table_name: ztf_fink
  queryconfig:
    group_id: hyeonho_snia
    maxtimeout: 10
    mytopics: ['fink_early_kn_candidates_ztf', 'fink_kn_candidates_ztf', 'fink_early_sn_candidates_ztf', 'fink_sn_candidates_ztf']
    password: null
    servers: "kafka-ztf.fink-broker.org:24499"
    survey: "ztf"
    username: hyeonho

lsst: 
  outdir: /home/hhchoi1022/bridge/alert/lsst/fink
  num_alerts_limit: 999
  verbose: true
  db_table_name: lsst_fink
  all_topics: ['fink_sn_near_galaxy_candidate_lsst', 'fink_extragalactic_lt20mag_candidate_lsst', 'fink_early_snia_candidate_lsst']
  queryconfig:
    group_id: hyeonho_snia
    maxtimeout: 30
    mytopics: ['fink_sn_near_galaxy_candidate_lsst', 'fink_extragalactic_lt20mag_candidate_lsst', 'fink_early_snia_candidate_lsst', 'fink_in_tns_lsst', 'fink_extragalactic_new_candidate_lsst']
    password: null
    servers: "kafka-lsst.fink-broker.org:24499"
    survey: "lsst"
    username: hyeonho