ztf:
  base_url: 'https://api.ztf.fink-portal.org/api/v1'

  url_key:
    objects: objects
    detections: objects
    alerts: latests
    cutouts: cutouts
    conesearch: conesearch
    sso: sso
    schema: schema
    classes: classes

  queryconfig:
    class: "Early SN Ia candidate"
    trend: rising
    n: 10000

lsst: 
  base_url: 'https://api.lsst.fink-portal.org/api/v1'
  url_key:
    objects: objects
    detections: sources
    alerts: sources
    forcedphot: fp
    cutouts: cutouts
    conesearch: conesearch
    sso: sso
    schema: schema
    classes: tags

  queryconfig:
    class: SN
