hostgalaxy_constraints:
  search_radius_arcsec: 600
  max_dell: 1.2
  max_distance: 200.0   
  min_distance: 1.0     
  
magnitude_constraints:
  diaSource_psfMag: "<23.5"
  diaSource_psfMagErr: "<0.2"
  diaSource_psfMagabs: [">-18", "<-10"]

catalog_constraints:
  # LSST FIELD 
  diaSource_dec: "<20"
  diaSource_centroid_flag: false
  diaSource_snr: ">5"
  diaSource_shape_flag: false
  diaSource_extendedness: "<0.2"
  diaSource_reliability: ">0.8"
  diaSource_isDipole: false
  diaSource_pixelFlags: false
  diaObject_nDiaSources: "" # Number of detection historical
  # FINK FIELD
  clf_cats_class: [">10","<15"] # -1= not processed, 11=SN-like, 12=Fast (e.g. KN, ulens, Novae, ...), 13=Long (e.g. SLSN, TDE, ...), 21=Periodic (e.g. RRLyrae, EB, ...), 22=Non-periodic (e.g. AGN). 
  clf_cats_score: "" # higher value = higher prob
  clf_earlySNIa_score: "" # 1 = early SN
  pred_is_first: ""
  pred_is_cataloged: false











