hostgalaxy_constraints:
  search_radius_arcsec: 600
  max_dell: 1.2
  max_distance: 200.0   
  min_distance: 1.0     

magnitude_constraints:
  psfMag: "< 23.5"
  psfMagErr: "<0.2"
  psfMagabs: [">-18", "<-10"]

catalog_constraints:
  # Basic filtering
  dec: "<20"

  # Candidate properties
  centroid_flag: false
  snr: ">10"
  extendedness: "<0.2"
  reliability: ">0.8"
  isDipole: false
  pixelFlags: false
  n_det: "<5"
  # ALERCE FIELD
  probability: ">0.5"
  
  # Optional (currently disabled in code)
  # ndethist: "<5"
  # deltamjd: "<10"







