hostgalaxy_constraints:
  search_radius_arcsec: 600
  max_dell: 1.5
  max_distance: 200.0   
  min_distance: 1.0     

magnitude_constraints:
  magabspsf: [">-18", "<-10"]

catalog_constraints:
  # Basic filtering
  dec: "<20"
  dubious: false
  stellar: false

  # Candidate properties
  magpsf: "<20"
  sigmapsf: "<0.2"
  ndet: "<5"
  probability: ">0.5"
  

  # Optional (currently disabled in code)
  # ndethist: "<5"







